body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #fff;
    margin: 0 auto;
}

*, *:before, *:after{
    box-sizing: border-box;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}    

/* Header */
.header{
    padding-bottom: 35px;
    display: flex;
    background-color: #2d303a;
	position: sticky;
	top: 0;
	z-index: 100;
}



.header__inner{
    display: flex;
    align-items:baseline;   

}



h1{
    padding-top: 41px;
    font-family:'Lato', sans-serif;
    letter-spacing: normal;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
        line-height: 6px;
}

.header__logo-red{ 
    font-family: 'Lato', sans-serif;
    letter-spacing: normal;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f06c64;
    line-height: 6.32px;
}

.header__bottom{
    height: 6px;
    background-color: #323746;
}

.nav{
    margin-left: 449px;
    display: flex;
    padding-left: 0;
    font-weight: 700;
    text-transform: uppercase;   
}

.nav__link{
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    color: #ffffff;
    font-size: 12px; 
    line-height: 6px;
    transition: color 0.1s linear;
}

.nav__link:hover{
    color: #fce38a;
}

.nav__link.active{
    color: #f06c64;
    padding-left: 0;
}

.nav__link:before{
    content: '';
    display: block;
    vertical-align: inherit;
    width: 2px;
    background-color: #3d4151;
    height: 2px;
    position: absolute;
    left: 0;
    top: 50%;
}

.nav__link:first-child::before{
    display: none;
}
/* End Header */

/* Slider */

.slider{
	height: 594px;

    background-color: #f06c64;
    align-items: center;
	overflow: hidden;
}
.slider1{
	background-color: blue;
}
.slides{
    display: flex;
    align-items: center;
}

.right{
    transform: rotate(180deg);
    padding-top: 6px;
}

.btn{
	z-index: 11;
    align-items: center;
}

.btn:hover{
	cursor: pointer;
}

.left{
    padding-left: 2px;
    padding-right: 54px;
}
    
.phone__left{   
    padding-right: 73px;
     z-index: 10;
}

.phone__right{
    z-index: 10;
    padding-bottom: 1px;
    padding-right: 55px;
}
.left__mobile-green{
		
}

.green-slide{

    display: flex;
    align-items: center;
    padding-top: 143px;
    padding-left: 88px;

}

.right__mobile-green{
	position: absolute;
 width: 15%;
    margin-left: 650px;
    opacity: 0.6		
}

.mobile-green{
	position: absolute;
    padding-left: 321px;
    padding-top: 14px;	
}

.phone__center{
 padding-bottom: 580px;
z-index: 10;
	position: absolute;
    padding-left: 150px;
}
.slider1 .slides{
	opacity: 0;
}
.slider__bottom{
    height: 6px;
    background-color: #ea676b;
}

.slider__inner2{
	left: 0;
	position: absolute;
    z-index: 11;
    width: 100%;
    min-width: 1020px;
    height: 594px;
    background-color: #648BF0;
    transition: all ease .8s;
}
.slider_container_bg{
	position: relative;
    height: 594px;
    min-width: 1020px;
    transition: all ease .8s;

}
.slider__inner{
        display: flex;
    align-items: center;
    padding: 53px 0 55px;
}

.screen__container{
    position: absolute;
    z-index: 10;
    display: flex;   
}

.screen__black-1{
    height: 333px;
    width: 188px;
    margin: 119px 0px 0px 87px;
    background: black;
    transition: .4s;
}

.screen__black-2{
    height: 188px;
    width: 333px;
    background: black;
margin: 190px 0 0 170px;
    transition: .4s;
}

.black-button{
    z-index: 13;
    position: absolute;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    margin: 461px 161px 0px;
    cursor: pointer;
}

.black-button-2{
    position: absolute;
    height: 42px;
    width: 42px;
    border-radius: 100%;
    cursor: pointer;
    margin: 261px 0px 0px 395px;
}
/* End Slider */

/* Service */
.services{
    background-color: #f2f2f2;
    color: #666d89;
    line-height: 17.86px;
}

.service__title{
    padding-top: 68px;
    padding-bottom: 28px;
    color: #666d89;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    line-height: 17.86px;
}

.service__suptitle{
    color: #767e9e;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 48px;
}

.service__info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service__item{
    width: 31.91489%;
    display: flex;
    padding-bottom: 32px;
}

.service__item:last-child{
    padding-bottom: 66px;
}

.service__item-icon{  
    padding-right: 20px;
}

.service__item-name{
    color: #666d89;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
    padding-bottom: 10px;
    padding-left: 1px;
}

.service__item-discription{
    text-align: justify;
    color: #767e9e;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px; 
}

.services__bottom{
    height: 6px;
    background-color: #ffffff;
}

.last{
    padding-right: 0;
}
/* ENd Service */

/* singolo 2 */
.portfolio__container{
        max-width:1020px;
    width: 100%;
    margin: 0 auto;    
}
.portfolio__content {

	font-family: 'Lato Regular', sans-serif;
	color: #666d89;
}

.portfolio{
    background: #2d303a;    
}

.portfolio__title {
	font-family: 'Lato Black', sans-serif;
	font-size: 29px;
	letter-spacing: -0.01rem;
	padding: 60px 40px 10px;
}

.portfolio__description {
	font-family: 'Lato Light', sans-serif;
	font-size: 18px;
	padding: 8px 40px 0.4px;
	line-height: 30px;
	text-align: justify;
}

.portfolio__nav {
	margin: 11px 40px;
}

.portfolio__nav-el {
	font-size: 12px;
	line-height: 22px;
	border: 1px solid #666d89;
	border-radius: 5px;
	padding: 3px 6.3px;
	margin-right: 8px;
	cursor: pointer;
	letter-spacing: -0.008rem;
	transition: all .1s linear;
}

.portfolio__nav-el_active {
	border: 1px solid #c5c5c5;
	color: #c5c5c5;
}

.portfolio__tag:hover {
	border: 1px solid #c5c5c5;
	color: #c5c5c5;
}

.portfolio__works {
	margin: 18.5px 0 0 40px;
	padding-bottom: 47px;
}

.portfolio__border {
	background-color: rgb(50, 55, 70);
	width: 100%;
	height: 6px;
}

.works__wrapper {
	display: flex;
	flex-wrap: wrap;
}
.portfolio__item {
	width: calc( (100% - 20px) / 4);
	margin: 0 0 16.7px;
}
/* много элементов */
.portfolio__item:nth-child(n + 13) {
	display: none;
}

.work {
	width: 220px;
	height: 187px;
}

.about-us{
    color: #666d8a;
    background: #f2f2f2;
}

.about-us__content {
	padding-bottom: 46px;
}

.section__title {
	font-family: 'Lato Black', sans-serif;
	font-size: 30px;
	letter-spacing: -0.01rem;
	padding: 60px 40px 10px;
}

.section__description {
	font-family: 'Lato Light', sans-serif;
	font-size: 18px;
	padding: 8px 40px 0.4px;
	line-height: 30px;
	text-align: justify;
}

.about-us__people {
	display: flex;
	flex-wrap: wrap;
	margin: 45px 0 0 40px;
}

.about-us__item {
	width: calc( (100% - 20px) / 3);
	margin-bottom: 18px;
	padding-right: 20px;
}

.about-us__name {
	font-family: 'Lato Black', sans-serif;
	font-size: 18px;
	letter-spacing: -0.006em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 11px 0 0 -1px;
}

.about-us__desc {
	font-family: 'Lato Regular', sans-serif;
	font-size: 12px;
	text-align: justify;
	margin-top: 8px;
	line-height: 22px;
}

.about-us__social {
	margin: 23px 0;
}

.icon {
	color: #666d89;
	margin: 0 4px 0 0;
	transition: transform .1s linear;
}

.icon:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.about-us__border {
	background-color: rgb(255, 255, 255);
	height: 6px;
	width: 100%;
}
/* /singolo2 */

/* singolo3 */
.quote{
    background-color: #f06c64;
}

.quote__title{
    padding-top: 67px;
    padding-bottom: 29px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: left;
}

.quote__suptitle{
    padding-bottom: 48px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: left;
}

.quote__info{
    display: flex; 
}

.quote__input{
    width: 65.851%;
    margin-right: 20px;
}

.quote__input-name,
.quote__input-email,
.quote__input-subject,
.quote__input-description{
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    width: 619px;
    border-radius: 5px;
    border: none;
}

.quote__input-name,
.quote__input-email,
.quote__input-subject{
    height: 38px; 
    margin-bottom: 16px;

    justify-content: center;
}

.quote__input-description{
    height: 202px;
 background-color: #d6564f;
	color: white;
    margin-bottom: 20px;
}

.quote__input-submit{
    width: 20%;
    color: #f0d8d9;
    border-color:firebrick;
    border-radius: 5px;
    margin-bottom: 27px;
}

.quote__input-name:hover,
.quote__input-email:hover,
.quote__input-subject:hover,
.quote__input-description:hover{
         background-color: #2d303a;   
}

.quote__input-submit:hover{
    cursor: pointer;
    background-color: #2d303a;
}

input{
    background-color: #d6564f;
}

.quote__contact-title{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    padding-bottom: 18px;
}

.quote__contact-suptitle{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
    padding-bottom: 32px;
}

.quote__contact-item{
    display: flex;
}

.quote__contact-picture{
    padding-right: 10px;
}

.quote__contact-text{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: left;
}

.quote__under{
    height: 6px;
    background-color: #ea676b;
}

.footer{
        background-color: #2d303a;
}

.footer__el{
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-picture{
    padding-right: 8px;
}

.last{
    padding-right: 0;
}

.footer__social,
.footer__copy:hover{
    cursor: pointer;
}

textarea::placeholder,
input::placeholder{
color: #f0d8d9;
}

.opacity0{
	opacity: 0;
	z-index: 10;
}

.portfolio__item_active {
  outline: 5px solid #F06C64;
}

/* /singolo3 */

.get_a_quote {
  position: relative;
}
.output__message {
  z-index: 1000;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0008;  
}



.output__message_header {
  margin-top: 25px;
}

.output__message_subject {
  margin-top: 25px;
  width: 396px;
  height: 57px;
  word-break: break-all;
}

.output__message_text {
  margin-top: 20px;
  word-break: break-all;
  overflow: hidden;
  width: 396px;
  height: 170px;
}

.output__message {
  cursor: pointer;
  margin-top: 30px;
  color: #f0d8d9;
  background-color: #d6564f;
  border: 2px;
  border-radius: 5px;
  height: 38px;
  width: 120px;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
